@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}

body {
    width: 100%;
    min-width: 1024px;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 1000px;
    background-color: #FAD2BC;
}

a {
    text-decoration: none;
    font-size: 1.2em;
    color: #692B54;
}

.container {
    background-color: #FAD2BC;
    width: 90%;
    height: 100%;
    display: grid;
    grid-template-columns: 60% 40%;
}

.col {
    padding: 0 20px;
}
.bgimage {
    width: 100%;
    height: 100%;
    background: url(/assets/images/forgot.svg) no-repeat center;
    background-size: contain;
}
.col2 {
    /* background-color: #692B54; */
    color: #692B54;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
}
.col2 h1 {
    font-size: 4.3em;
    line-height: 1em;
}
.col2 p {
    font-size: 2em;
    margin: 15px 0 20px;
    line-height: 1.2em;
}

form {
    width: 100%;
    color: #fff;
}

form input {
    color:#692B54;
    font-size: 16px;
    width: 100%;
    padding: 12px;
    margin: 10px 0px 40px;
    border: none;
    border-radius: 10px;
    background-color: #fff;
}
form input:focus {
    outline: none;
    border: none;
    border-radius: 0;
    background: transparent;
    border-bottom: 2px solid #fff;
}

.next-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.back-to-login:hover {
    color: #4b0b36;
}
.next {
    background-color: #692B54;
    padding: 8px 50px;
    border-radius: 20px;
    color: #fff;
}


@media screen and (max-width: 768px) {

    body {
        min-width: 706px;
        background-color: #fff;
    }

    .container {
        width: 100%;
        height: 100%;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
    }

    .col1 {
        padding: 70px 0 20px;
    }

    .col2 {
        padding: 0 80px;
    }
    form input {
        margin: 0 0 30px;
        padding: 18px 20px;
        color: #fff;
        font-size: 1.4em;
    }
    .back-to-login {
        font-size: 1.6em;
    }
    .next {
        padding: 8px 30px;
        border-radius: 17px;
        color: #fff;
        font-size: 1.6em;
    } 
}

/*  ======== Media query for Mobile ======== */
@media screen and (max-width: 425px) {

    body {
        min-width: 350px;
    }
    .container {
        grid-template-rows: 40% 60%;
    }

    .col1 {
        padding: 10px 20px;
    }
    .col2 {
        padding: 10px 30px;
    }
    .col2 h1 {
        font-size: 3em;
    }
    .col2 p {
        font-size: 1.5em;
    }

    form input {
        margin: 0 0 20px;
        padding: 15px 10px;
        color: #fff;
        font-size: 1.4em;
    }
    .back-to-login {
        font-size: 1.3em;
    }
    .next {
        padding: 8px 30px;
        border-radius: 17px;
        color: #fff;
        font-size: 1.3em;
    }    

}