@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins';
}

body {
    width: 100%;
    height: 100vh;
    background-color: #fff;
    position: relative;
}

nav {
    width: 100%;
    padding: 30px 40px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
nav .logo {
    width: 50px;
    height: 50px;
    background: #692B54 url(../assets/images/logo.png) no-repeat center;
    background-size: contain;
    border-radius: 100px;
}
nav a {
    margin-right: 30px;
    font-size: 1em;
    text-decoration: none;
    color: #692B54;
    transition: 0.5s ease-in-out;
}

nav a:last-of-type {
    background-color: #692B54;
    color: #FAD2BC;
    font-size: 0.8em;
    font-weight: bold;
    padding: 8px 12px;
    margin-right: 0px;
    text-transform: uppercase;
    border-radius: 50px;
}
nav a:last-of-type:hover {
    background-color: #FAD2BC;
    color: #692B54;
}
nav .icon {
    display: none;
  }

.banner {
    width: 100%;
    height: 225px;
    background: url(../assets/images/banner.png) no-repeat center;
    background-size: cover;
}

.social-media {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 7px;
    position: absolute;
    top: 140px;
    right: 32px;
    z-index: 1;
    padding: 5px;
    border-right: 2px solid #FAD2BC;
    overflow: hidden;
}

.social-media img {
    width: 35px;
    height:35px;
}

.social-media .fa-brands {
    font-size: 25px;
    margin-bottom:5px;
    text-decoration: none;
    color: #FAD2BC;
}

.hero-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px 0;
}
.hero-text {
    color: #692B54;
    font-size: 3em;
    text-align: center;
}
.username {
    font-family: sans-serif;    color: #692B54;
    font-size: 3em;
    text-align: center;
    line-height: 0.4em;
    margin-bottom: 60px;
}

.call-to-action {
    text-decoration: none;
    background-color: #692B54;
    font-size: 1.5em;
    font-weight: bold;
    color: #FAD2BC;
    padding: 12px 20px;
    text-transform: uppercase;
    border-radius: 50px;
    transition: 0.5s ease-in-out;
    position: relative;
}
.call-to-action:hover {
    background-color: #FAD2BC;
    color: #692B54;
}


/*  ======== Media query for Tablet ======== */
@media screen and (max-width: 768px) {

    body {
        /* padding: 0px 10px; */
        min-width: 400px;
        background-color: #fff;
        position: relative;
    }
    nav {
        padding: 20px 20px;
        display: block;
      }
      .navLinks {
        width: 100%;
        position: absolute;
        right: 0;
        top: 0;
      }
      .navLinks a {
        display: none;
        padding: 15px 10px;
        color: hsl(240, 100%, 5%);
        font-size: 1.2rem;
        font-weight: 600;
        text-align: center;
      }
      .navLinks .home {
        margin-top: 120px;
      }

      .banner {
        width: 100%;
        height: 245px;
        background-position: right;
        background-size: cover;
    }
    .hero-text {
        font-size: 3em;
        margin-bottom: 5px;
    }
    .username {
        font-size: 2.5em;
    }

    .navLinks a.icon {
        margin-right: 10px;
        font-size: 30px;
        float: right;
        display: block;
      }
      .navLinks.responsive {
        height: 100vh;
        width: 50%;
        background-color: #fff;
        position: absolute;
        z-index: 2;
      }
      .navLinks.responsive .icon {
        position: absolute;
        right: 0px;
        top: 0;
      }
      .navLinks.responsive .nav-items {
        float: none;
        display: block;
        text-align: center;
        margin-bottom: 10px;
        margin-right: 0;
        font-size: 1em;
      }
      .navLinks.responsive a:last-of-type {
        background-color: #692B54;
        margin-top: 10px;
        border-radius: 0px;
    }
}

    /*  ======== Media query for Mobile ======== */
@media screen and (max-width: 425px) {

    body {
        min-width: 350px;
    }
    nav .logo {
        width: 45px;
        height: 45px;
    }

    .banner {
        width: 100%;
        height: 120px;
        background-position: right;
        background-size: cover;
    }

    .social-media {
        gap: 0px;
        top: 95px;
        right: 20px;
        padding: 0px;
        border: none;
    }
    
    .social-media img {
        width: 25px;
        height:25px;
    }
    
    .social-media .fa-brands {
        font-size: 15px;
        margin: 0;
    }

    .hero-text {
        font-size: 2em;
        margin-bottom: 5px;
    }
    .username {
        font-size: 2em;
    }
    
    .call-to-action {
        font-size: 1.2em;
    }

    .navLinks a.icon {
        font-size: 30px;
      }
      .navLinks.responsive {
        width: 100%;
      }

    }