@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins';
}

body {
    width: 100%;
    max-width: 2600px;
    margin: 0 auto;
    background-color: #fff;
}

nav {
    width: 100%;
    background-color: #692B54;
    padding: 7px 5%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav .logo {
    width: 70px;
    height: 70px;
    background: url(../assets/images/logo.png) no-repeat center;
    background-size: contain;
}
.search-box {
    width: 450px;
    padding: 8px 10px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    background-color: #fff;
    justify-content: center;
}
nav .search-box input {
    width: 100%;
    font-size: 14px;
    border-radius: 5px;
    background-color: #fff;
    border: none;
    color: #692B54;
}
nav .search-box input::placeholder {
    color: #692B54;
}
.search-box input:focus {
    outline: none;
    border: none;
}

.fa .fa-search {
    color: #692B54;
}

.notification {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}
.notification a {
    color: #FAD2BC;
    text-decoration: none;
}
.notification .profile {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    background-color: #FAD2BC;
    padding: 3px 8px;
    border-radius: 50px;
}
.notification .profile a {
    text-decoration: none;
    font-size: 14px;
    color: #692B54;
}
.notification .profile .fa-user {
    font-size: 10px;
    color: #FAD2BC;
    padding: 5px;
    border-radius: 100px;
    background-color: #692B54;
}

.videoComponent {
    width: 100%;
    padding: 10px 5%;
}

.videoHeader {
    width: 100%;
    padding: 20px 0;
    color: #692B54;
}
.videoSection {
    width: 100%;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    justify-items: center;
    align-items: center;
    row-gap: 20px;
}
.videoCard {
    box-shadow: 5px 5px 7px rgba(0, 0, 0, 0.08);
    padding: 10px;
}

.videoThumbnail {
    width: 250px;
    height: 250px;
    background-color: #692B54;
    border-radius: 10px;
    margin-bottom: 10px;
    transition: 0.7s;
    overflow: hidden;
}
.videoThumbnail img {
    width: 100%;
    height: 100%;
}
.videoThumbnail:hover{
    opacity: 0.5;
    transform: scale(1.05);
}
.videoTitle a {
    text-decoration: none;
    color: #692B54;
    text-align: center;
    font-weight: 500;
}
.videoTitle a:hover {
    text-decoration: underline;
}



/*  ======== Media query for Tablet ======== */
@media screen and (max-width: 1200px) {

    .videoSection {
        grid-template-columns: 1fr 1fr 1fr;
    }

    }


@media screen and (max-width: 920px) {

    .videoSection {
        grid-template-columns: 1fr 1fr;
    }

    nav {
        position: relative;
        margin: 0 auto;
        padding: 20px 40px;
        display: block;
    }
    .search-box {
        width: 100%;
        padding: 8px;

    }

    .notification {
        position: absolute;
        right: 40px;
        top: 38px;
        gap: 10px;
    }

    .notification a {
        font-size: 20px;
    }
    .notification .profile {
        gap: 8px;
        padding: 5px 8px;
        font-size: 18px;
        text-align: center;
    }

    }

@media screen and (max-width: 768px) {

    .videoComponent {
     padding: 10px 10%;
    }

    .videoSection {
        grid-template-columns: 1fr 1fr;
        gap: 20px;
    }

    .videoThumbnail {
        margin-bottom: 10px;
    }
    .videoTitle a {
        font-size: 20px;
        font-weight: 400;
    }
}

    /*  ======== Media query for Mobile ======== */
@media screen and (max-width: 600px) {
   
    nav {
        padding: 20px 20px;
    } 
    
    .notification {
        position: absolute;
        right: 20px;
    }
    
    .videoSection {
        grid-template-columns: 1fr;
       }
   
       .videoTitle a {
           font-size: 20px;
           font-weight: bold;
       }
   
    }


    @media screen and (max-width: 385px) {

        .notification {
            position: absolute;
            right: 20px;
        }

        .videoComponent {
            padding: 10px 20px;
           }

           .videoHeader {
            padding: 12px;
           }
        
           .videoHeader p {
            font-size: 14px;
        }
        .videoHeader h2 {
            font-size: 16px;
        }

        .videoTitle a {
            font-size: 16px;
            font-weight: 500;
        }
        
    }


    @media screen and (max-width: 280px) {

        nav .logo {
            width: 50px;
            height: 50px;
        }
        .notification {
            right: 20px;
            top: 39px;
        }
        .notification a {
            font-size: 10px;
        }
        .notification .profile {
            gap: 2px;
            padding: 3px 5px;
        }
        .notification .profile a {
            font-size: 10px;
        }

        .videoComponent {
            padding: 10px 0px;
           }

           .videoHeader {
            padding: 10px;
           }
        
           .videoHeader p {
            font-size: 12px;
        }
        .videoHeader h2 {
            font-size: 16px;
        }

        .videoTitle a {
            font-size: 14px;
            font-weight: 500;
        }
        
    }