@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "poppins";
}

body {
  width: 100%;
  max-width: 2000px;
  margin: 0 auto;
  background-color: #fff;
}

nav {
  width: 100%;
  background-color: #692b54;
  padding: 10px 5%;
  display: block;
  box-shadow: 5px 5px 7px rgba(0, 0, 0, 0.3);
  position: relative;
}

nav .logo {
  width: 70px;
  height: 50px;
  background: url(../assets/images/logo.png) no-repeat center;
  background-size: contain;
}

.navLinks {
  width: 25%;
  position: absolute;
  right: 0;
  top: 0px;
  z-index: 1;
  overflow: hidden;
}
.navLinks a {
  display: none;
  color: #fad2bc;
  text-decoration: none;
  text-align: left;
  font-size: 14px;
}
.navLinks .icon {
  margin-top: 20px;
  margin-right: 20%;
  float: right;
  display: block;
  cursor: pointer;
}

.navLinks .profile {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  background-color: #fad2bc;
  padding: 3px 6px;
  border-radius: 50px;
}
.navLinks .profile p {
  font-size: 14px;
  font-weight: 500;
  color: #692b54;
  user-select: none;
}
.navLinks .profile .fa-user {
  font-size: 14px;
  color: #fad2bc;
  padding: 5px;
  border-radius: 100px;
  background-color: #692b54;
}
.home, .logout,
.notifications {
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 10px 20px;
  font-size: 1.3em;
}
.home {
  margin-top: 100px;
}
.home:hover, .notifications:hover,
.logout:hover {
  background-color: #fad2bc;
  color: #692b54;
  transform: scale(1.05);
  transition: 0.4s ease;
}

/* ============== Styling the dropdown ================= */
.navLinks.responsive {
  height: 100vh;
  width: 25%;
  background-color: #692b54;
  position: absolute;
}
/* .navLinks.responsive .icon {
  position: absolute;
  right: 0;
  top: 0;
} */
.navLinks.responsive .nav-items {
  float: none;
  display: block;
  text-align: center;
  margin-bottom: 20px;
}

.wrapper {
  width: 100%;
  padding: 10px 10%;
  position: relative;
  margin-top: 15px;
}
.back-arrow {
  position: absolute;
  left: 6%;
}
.back-arrow a {
  font-size: 40px;
  color: #692b54;
}
.videoWrapper {
  width: 95%;
  margin: 0 auto;
  overflow: hidden;
  border-radius: 20px;
}
.videoWrapper video {
  width: 100%;
  border-radius: 20px;
}

.accordion {
  width: 100%;
  padding: 0 2%;
}
.accordion-item {
  background-color: #fff;
  color: #692b54;
  margin: 1rem 0;
}
.accordion-item-header {
  padding: 0 3rem 0 0.5rem;
  min-height: 1.3rem;
  line-height: 0px;
  font-weight: 500;
  display: flex;
  align-items: center;
  position: relative;
  cursor: pointer;
  color: #692b54;
}
.accordion-item-header::after {
  content: "\25BE";
  font-size: 3rem;
  position: absolute;
  right: 1rem;
}
.accordion-item-header.active::after {
  /* content: "\2212"; */
  transform: rotate(180deg);
}
.accordion-item-body {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}
.accordion-item-body-content {
  padding: 1rem;
  border-top: 1px solid;
  word-wrap: break-word;
  border-image: linear-gradient(to right, transparent, #34495e, transparent) 1;
}

.reactions {
  padding: 0 2.2rem 20px;
  color: rgb(28, 28, 28);
  border-bottom: 1px solid #692b54;
}
.reactions .fa {
  transition: 0.5s;
  font-size: 16px;
}
.reactions .fa-heart {
  cursor: pointer;
}
.reactions .fa-heart:hover {
  color: #ba0015;
  transform: scale(1.2);
}
.reactions input {
  border: none;
  outline: none;
  pointer-events: none;
  width: 45px;
}

.comment-wrapper {
  width: 100%;
  margin-top: 20px;
  display: flex;
  align-items: top;
  justify-content: center;
  gap: 30px;
}
.comment-wrapper .avatar {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 1.2em;
  font-weight: 400;
  border-radius: 100px;
  background-color: #692b54;
}
.comment-wrapper .comment-list {
  width: 90%;
  padding: 20px;
  color: #692b54;
  background-color: #fad2bc;
  border-radius: 0 20px 20px 20px;
}
.comment-wrapper .comment-list h3 {
  margin-bottom: 5px;
}

.comment-box {
  width: 100%;
  margin: 20px 0;
}
.comment-box form {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-left: 10px;
}
.comment-box form input {
  width: 80%;
  padding: 10px 20px 10px 70px;
  font-size: 14px;
  color: #692b54;
  border-radius: 20px;
  border: none;
  outline: none;
  background-color: #fad2bc;
}
.comment-box form input::placeholder {
  color: #692b54;
}

/* Media query */

@media screen and (max-width: 1024px) {
  .navLinks {
    width: 30%;
  }
  .navLinks.responsive {
    width: 30%;
  }
}

@media screen and (max-width: 970px) {
  .back-arrow {
    left: 3%;
  }
  .back-arrow a {
    font-size: 30px;
  }
  .wrapper {
    padding: 10px 5%;
  }
  .accordion-item-header h2 {
    font-size: 1.6em;
  }
  .reactions {
    padding: 0 1rem 3px;
  }
  .comment-wrapper {
    gap: 10px;
  }
  .comment-wrapper .comment-list {
    padding: 10px 15px;
  }
  .comment-wrapper .comment-list .comment {
    line-height: 1.3em;
  }
}

@media screen and (max-width: 900px) {
  .navLinks {
    width: 35%;
  }
  .navLinks.responsive {
    width: 35%;
  }
  .navLinks .profile p {
    font-size: 12px;
  }
  .home, .logout,
  .notifications {
    font-size: 1.3em;
  }
}

@media screen and (max-width: 768px) {
  .navLinks {
    width: 40%;
  }
  .navLinks.responsive {
    width: 40%;
  }
  .navLinks .icon {
    margin-right: 15%;
  }
}
@media screen and (max-width: 680px) {
  .navLinks {
    width: 45%;
  }
  .navLinks.responsive {
    width: 45%;
  }
}

@media screen and (max-width: 600px) {
  .navLinks {
    width: 50%;
  }
  .navLinks.responsive {
    width: 50%;
  }

  .accordion-item-header h2 {
    font-size: 1.5em;
  }
  .accordion-item-body-content {
    font-size: 12px;
    padding: 12px;
  }
  .home {
    margin-top: 70px;
  }
}

@media screen and (max-width: 500px) {
  .navLinks {
    width: 55%;
  }
  .navLinks.responsive {
    width: 55%;
  }
  .navLinks .icon {
    margin-right: 10%;
  }
}

@media screen and (max-width: 450px) {
  .navLinks {
    width: 60%;
  }
  .navLinks.responsive {
    width: 60%;
  }
  .navLinks .profile p {
    font-size: 10px;
  }
  .navLinks a {
    font-size: 12px;
  }
  .home, .logout,
  .notifications {
    font-size: 1.5em;
  }
  .back-arrow {
    left: 2%;
  }
  .accordion-item-header h2 {
    font-size: 1.3em;
  }
  .reactions .fa {
    font-size: 14px;
  }
  .reactions input {
    font-size: 14px;
  }
  .comment-wrapper .avatar {
    width: 30px;
    height: 30px;
    font-size: 1em;
  }
}
@media screen and (max-width: 400px) {
  .navLinks {
    width: 70%;
  }
  .navLinks.responsive {
    width: 70%;
  }
  .navLinks a {
    font-size: 11px;
  }
}

@media screen and (max-width: 385px) {
  .navLinks {
    width: 100%;
  }
  .navLinks.responsive {
    width: 100%;
  }
  .navLinks .icon {
    margin-right: 7%;
  }

  .back-arrow a {
    font-size: 20px;
  }
  .accordion-item-header h2 {
    font-size: 1em;
  }
  .accordion-item-header::after {
    font-size: 2rem;
  }
  .comment-wrapper .comment-list {
    font-size: 12px;
  }
  .comment-box form input {
    width: 100%;
    margin: 0 10px 0 0;
    padding: 12px 40px;
  }
}
@media screen and (max-width: 300px) {
  nav .logo {
    width: 50px;
    height: 50px;
  }
  .navLinks .icon {
    margin-top: 25px;
  }
  .accordion-item-header h2 {
    font-size: 0.9em;
  }
  .comment-wrapper .comment-list {
    font-size: 12px;
  }
  .accordion-item-body-content {
    font-size: 12px;
  }
}

@media screen and (max-width: 280px) {
  .accordion-item-header h2 {
    font-size: 0.8em;
  }
}

@media screen and (max-width: 250px) {
  .logo {
    visibility: hidden;
  }
  .back-arrow a {
    font-size: 15px;
  }
  .accordion-item-header h2 {
    font-size: 0.7em;
  }
  .accordion-item-header::after {
    font-size: 1.4rem;
  }
  .accordion-item-header {
    padding: 0 0.5rem 0;
  }
  .accordion-item-body-content {
    font-size: 10px;
  }
  .reactions {
    padding: 0 0.5rem 5px;
  }
  .reactions .fa {
    font-size: 11px;
  }
  .reactions input {
    font-size: 11px;
  }
  .comment-wrapper .avatar {
    font-size: 0.8em;
  }
  .comment-wrapper .comment-list h3 {
    font-size: 12px;
  }
  .comment-wrapper .comment-list {
    font-size: 10px;
  }
  .comment-box form input {
    width: 100%;
    padding: 10px 20px 10px 30px;
    font-size: 10px;
  }
}
