@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "poppins";
}

body {
  width: 100%;
  max-width: 2000px;
  margin: 0 auto;
  background-color: #fff;
}

nav {
  width: 100%;
  background-color: #692b54;
  padding: 7px 5%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav .logo {
  width: 70px;
  height: 70px;
  background: url(../assets/images/logo.png) no-repeat center;
  background-size: contain;
}
.search-box {
  width: 450px;
  padding: 8px 10px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  background-color: #fff;
  justify-content: center;
}
nav .search-box input {
  width: 100%;
  font-size: 14px;
  border-radius: 5px;
  background-color: #fff;
  border: none;
  color: #692b54;
}
nav .search-box input::placeholder {
  color: #692b54;
}
.search-box input:focus {
  outline: none;
  border: none;
}
.search-box .fa-search {
  color: #692b54;
}

.notification {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}
.notification a {
  color: #fad2bc;
  text-decoration: none;
  font-size: 13px;
}
.notification .profile {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  background-color: #fad2bc;
  padding: 2px 5px;
  border-radius: 50px;
}
.notification .profile p {
  font-size: 12px;
  font-weight: 600;
  color: #692b54;
}
.notification .profile .fa-user {
  font-size: 10px;
  color: #fad2bc;
  padding: 5px;
  border-radius: 100px;
  background-color: #692b54;
}

.wrapper {
  width: 100%;
  padding: 10px 10%;
  position: relative;
  margin-top: 15px;
}
.back-arrow {
  position: absolute;
  left: 4%;
}
.back-arrow a {
  font-size: 40px;
  color: #692b54;
}
.videoWrapper {
  width: 95%;
  margin: 0 auto;
  overflow: hidden;
  border-radius: 20px;
}
.videoWrapper video {
  width: 100%;
  border-radius: 20px;
}

.accordion {
  width: 100%;
  padding: 0 2%;
}
.accordion-item {
  background-color: #fff;
  color: #692b54;
  margin: 1rem 0;
}
.accordion-item-header {
  padding: 0 3rem 0 1rem;
  min-height: 1.3rem;
  line-height: 0px;
  font-weight: 500;
  display: flex;
  align-items: center;
  position: relative;
  cursor: pointer;
  color: #692b54;
}
.accordion-item-header::after {
  content: "\25BE";
  font-size: 3rem;
  position: absolute;
  right: 1rem;
}
.accordion-item-header.active::after {
  /* content: "\2212"; */
  transform: rotate(180deg);
}
.accordion-item-body {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}
.accordion-item-body-content {
  padding: 1rem;
  border-top: 1px solid;
  border-image: linear-gradient(to right, transparent, #34495e, transparent) 1;
}

.reactions {
  padding: 0 2.2rem 20px;
  color: rgb(28, 28, 28);
  border-bottom: 1px solid #692b54;
}
.reactions .fa {
  transition: 0.5s;
  font-size: 16px;
}
.reactions .fa-heart {
  cursor: pointer;
}
.reactions .fa-heart:hover {
  color: #ba0015;
  transform: scale(1.2);
}

.reactions input {
  border: none;
  outline: none;
  pointer-events: none;
  width: 45px;
}

.comment-wrapper {
  width: 100%;
  margin-top: 20px;
  display: flex;
  align-items: top;
  justify-content: center;
  gap: 30px;
}
.comment-wrapper .avatar {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 1.2em;
  font-weight: 400;
  border-radius: 100px;
  background-color: #692b54;
}
.comment-wrapper .comment-list {
  width: 90%;
  padding: 20px;
  color: #692b54;
  background-color: #fad2bc;
  border-radius: 0 20px 20px 20px;
}
.comment-wrapper .comment-list h3 {
  margin-bottom: 5px;
}

.comment-box {
  width: 100%;
  margin: 20px 0;
}
.comment-box form {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-left: 10px;
}
.comment-box form input {
  width: 80%;
  padding: 10px 20px 10px 70px;
  font-size: 14px;
  color: #692b54;
  border-radius: 20px;
  border: none;
  outline: none;
  background-color: #fad2bc;
}
.comment-box form input::placeholder {
  color: #692b54;
}

/* Media query */

@media screen and (max-width: 970px) {
  nav {
    position: relative;
    margin: 0 auto;
    padding: 20px 40px;
    display: block;
  }
  .search-box {
    width: 100%;
    padding: 12px;
  }

  .notification {
    position: absolute;
    right: 40px;
    top: 48px;
    gap: 10px;
  }
  .notification .fa-bell {
    font-size: 16px;
  }

  .notification .profile {
    gap: 5px;
    text-align: center;
  }
  .back-arrow {
    left: 2.5%;
  }
  .back-arrow a {
    font-size: 30px;
  }
  .wrapper {
    padding: 10px 5%;
  }
  .accordion-item-header h2 {
    font-size: 1.6em;
  }
  .reactions {
    padding: 0 2.2rem 5px;
  }
  .comment-wrapper {
    gap: 10px;
  }
  .comment-wrapper .comment-list {
    padding: 10px 15px;
  }
}

@media screen and (max-width: 600px) {
  nav {
    padding: 20px 4%;
  }
  .notification {
    right: 4%;
  }

  .accordion-item-header h2 {
    font-size: 1.5em;
  }
  .accordion-item-body-content {
    font-size: 14px;
  }
}

@media screen and (max-width: 450px) {
  .notification a {
    font-size: 12px;
  }
  .notification .profile {
    font-size: 10px;
    gap: 4px;
    padding: 2px 4px;
  }
  .back-arrow {
    left: 2%;
  }
  .accordion-item-header h2 {
    font-size: 1.3em;
  }
  .reactions input {
    font-size: 16px;
  }
  .comment-wrapper .avatar {
    width: 30px;
    height: 30px;
    font-size: 1em;
  }
}

@media screen and (max-width: 385px) {
  /* .notification .profile {
    font-size: 10px;
} */
  .back-arrow a {
    font-size: 20px;
  }
  .accordion-item-header h2 {
    font-size: 1em;
  }
  .comment-wrapper .comment-list {
    font-size: 12px;
  }
  .comment-box form input {
    width: 100%;
    margin: 0 10px 0 0;
    padding: 12px 40px;
  }
}
@media screen and (max-width: 300px) {
  nav .logo {
    width: 45px;
    height: 45px;
  }
  .notification {
    top: 30px;
  }
  .notification .profile p {
    font-size: 8px;
  }
  .accordion-item-header h2 {
    font-size: .9em;
  }
  .comment-wrapper .comment-list {
    font-size: 12px;
  }
  .accordion-item-body-content {
    font-size: 12px;
  }
}


@media screen and (max-width: 280px) {
    .accordion-item-header h2 {
        font-size: .9em;
      }
}

@media screen and (max-width: 250px) {
    .logo {
        visibility: hidden;
    }
}